*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(./imgs/background.jpg);
    background-size: 100%;
}

ul{
    list-style: none;
}

img{
    width: 40px;
}
input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(16, 16, 16, 0.2);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}

ul{
    position: absolute;
    top: 70px;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: black;
    font-size: 20px;
}
a:hover{
    /*background-color: rgb(176, 224, 230);*/
    background-color: #E9D5DA;
    color: black;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}